<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fredrikpedersen.eatingwithfriends_gradedassignment">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.fredrikpedersen.contentproviderrestaurant.permission"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="com.fredrikpedersen.contentproviderrestaurant.permission"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver android:name=".services.ReminderBroadcastReceiver">
            <intent-filter>
                <action android:name="com.fredrikpedersen.eatingwithfriends_gradedassignment.services.ReminderBroadcastReceiver"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.PeriodicService"/>
        <service android:name=".services.ReminderService"/>

        <provider
            android:name="com.fredrikpedersen.eatingwithfriends_gradedassignment.RestaurantProvider"
            android:authorities="com.fredrikpedersen.contentproviderrestaurant"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.fredrikpedersen.contentproviderrestaurant.permission"
            android:writePermission="com.fredrikpedersen.contentproviderrestaurant.permission">
        </provider>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddEditBookingActivity" />
        <activity android:name=".activities.AddEditFriendActivity" />
        <activity android:name=".activities.AddEditRestaurantActivity" />
    </application>

</manifest>